In [47]:
from pyspark.sql import SparkSession
from pyproj import Proj,transform, CRS
import numpy as np
import pandas as pd
import mysql.connector
from pyspark.sql.functions import udf, col, substring, isnan, when, count, isnull
from pyspark.sql.types import FloatType
from pyspark.sql.types import StringType
from tqdm import tqdm

In [2]:
# Spark 세션 시작
spark = SparkSession.builder \
    .appName("CSV to MariaDB") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/24 04:05:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
# CSV 파일 읽기
df = spark.read.csv("hdfs://master:9000/input/구polygon.csv", header=True, inferSchema=True)

In [ ]:
df.select('구코드').show() # select name from data_sdf;

In [3]:
# EPSG 코드 정의 (권장되는 최신 방식)
proj_UTMK = Proj(CRS.from_epsg(5181))
proj_WGS84 = Proj(CRS.from_epsg(4326))

In [26]:
# 좌표 변환 함수 정의
def utmk_to_wgs84(x, y):
    lon, lat = transform(proj_UTMK, proj_WGS84, x, y)
    return float(lon), float(lat)

def transform_polygon(geometry_str):
    def transform_coords(coords_str):
        transformed_coords = []
        for coord_pair in coords_str.split(", "):
            x, y = map(float, coord_pair.split())
            lon, lat = utmk_to_wgs84(x, y)
            transformed_coords.append(f"{lon} {lat}")
        return transformed_coords

    # Handle POLYGON
    if geometry_str.startswith("POLYGON"):
        coordinates_str = geometry_str[9:-2]  # Remove "POLYGON ((" and "))"
        transformed_coords = transform_coords(coordinates_str)
        transformed_polygon = "POLYGON ((" + ", ".join(transformed_coords) + "))"
        return transformed_polygon
    
    # Handle MULTIPOLYGON
    elif geometry_str.startswith("MULTIPOLYGON"):
        # Clean the MULTIPOLYGON string and split individual polygons
        multipolygons_str = geometry_str[15:-2]  # Remove "MULTIPOLYGON (" and "))"
        individual_polygons = multipolygons_str.split(")), ((")  # Split by the individual polygons
        
        transformed_polygons = []
        for polygon_str in individual_polygons:
            polygon_str = polygon_str.replace("(", "").replace(")", "").strip()  # Clean each polygon string
            transformed_coords = transform_coords(polygon_str)
            transformed_polygon = "((" + ", ".join(transformed_coords) + "))"
            transformed_polygons.append(transformed_polygon)
        
        # Combine transformed polygons into MULTIPOLYGON format
        transformed_multipolygon = "MULTIPOLYGON (" + ", ".join(transformed_polygons) + ")"
        return transformed_multipolygon
    
    return geometry_str  # Return unchanged if not POLYGON or MULTIPOLYGON

# UDF를 통해 변환 함수 등록
utmk_to_wgs84_udf_lon = udf(lambda x, y: utmk_to_wgs84(x, y)[0], FloatType())
utmk_to_wgs84_udf_lat = udf(lambda x, y: utmk_to_wgs84(x, y)[1], FloatType())
transform_polygon_udf = udf(transform_polygon, StringType())

In [ ]:
# 새로운 x, y 컬럼 추가 (WGS84로 변환)
df = df.withColumn("x", utmk_to_wgs84_udf_lon(df["X좌표"], df["Y좌표"]))
df = df.withColumn("y", utmk_to_wgs84_udf_lat(df["X좌표"], df["Y좌표"]))

# geometry 컬럼 좌표 변환
df = df.withColumn("transformed_geometry", transform_polygon_udf(df["geometry"]))

# 결과 출력
df.show(truncate=False)

In [ ]:
# CSV 파일 읽기
# seoul_df = spark.read.csv("hdfs://master:9000/input/서울polygon.csv", header=True, inferSchema=True)
# seoul_df

In [ ]:
# 새로운 x, y 컬럼 추가 (WGS84로 변환)
# seoul_df = seoul_df.withColumn("x", utmk_to_wgs84_udf_lon(seoul_df["X좌표"], seoul_df["Y좌표"]))
# seoul_df = seoul_df.withColumn("y", utmk_to_wgs84_udf_lat(seoul_df["X좌표"], seoul_df["Y좌표"]))

# # geometry 컬럼 좌표 변환
# seoul_df = seoul_df.withColumn("transformed_geometry", transform_polygon_udf(seoul_df["geometry"]))

# # 결과 출력
# seoul_df.show(truncate=False)

In [ ]:
# seoul_df.columns

In [66]:
# CSV 파일 읽기
dong_df = spark.read.csv("hdfs://master:9000/input/동polygon.csv", header=True, inferSchema=True)
dong_df

DataFrame[동코드: int, 동이름: string, X좌표: double, Y좌표: double, geometry: string]

In [67]:
df

DataFrame[구: string, 동: string, 1층: string, 1층 외: string, 전체: string]

In [ ]:
# 새로운 x, y 컬럼 추가 (WGS84로 변환)
dong_df = dong_df.withColumn("x", utmk_to_wgs84_udf_lon(dong_df["X좌표"], dong_df["Y좌표"]))
dong_df = dong_df.withColumn("y", utmk_to_wgs84_udf_lat(dong_df["X좌표"], dong_df["Y좌표"]))

# geometry 컬럼 좌표 변환
dong_df = dong_df.withColumn("transformed_geometry", transform_polygon_udf(dong_df["geometry"]))

# 결과 출력
dong_df.show(truncate=False)

In [68]:
# 동코드에서 왼쪽 5글자를 추출하여 새로운 gu_code 칼럼 생성
dong_df = dong_df.withColumn("gu_code", substring(col("동코드").cast("string"), 1, 5))

# 결과 출력
dong_df.show()

+--------+---------------+--------+--------+--------------------+-------+
|  동코드|         동이름|   X좌표|   Y좌표|            geometry|gu_code|
+--------+---------------+--------+--------+--------------------+-------+
|11110515|     청운효자동|197342.0|453874.0|POLYGON ((197482....|  11110|
|11110530|         사직동|197383.0|452705.0|POLYGON ((197702....|  11110|
|11110540|         삼청동|198340.0|454312.0|POLYGON ((197980....|  11110|
|11110550|         부암동|196781.0|455266.0|POLYGON ((196621....|  11110|
|11110560|         평창동|197186.0|457344.0|POLYGON ((197800....|  11110|
|11110570|         무악동|196342.0|453063.0|POLYGON ((196444....|  11110|
|11110580|         교남동|196830.0|452392.0|POLYGON ((196720....|  11110|
|11110600|         가회동|198812.0|453662.0|POLYGON ((199036....|  11110|
|11110615|종로1·2·3·4가동|199104.0|452849.0|POLYGON ((199061....|  11110|
|11110630|    종로5·6가동|200389.0|452590.0|POLYGON ((200757....|  11110|
|11110640|         이화동|200267.0|453352.0|POLYGON ((200510....|  11110|
|11110650|         혜화동|199773.0|454212.0|POLYGON ((199863....|  11110|
|11110670|        창신1동|201219.0|452536.0|POLYGON ((201370....|  11110|
|11110680|        창신2동|200900.0|452942.0|POLYGON ((200967....|  11110|
|11110690|        창신3동|201168.0|453267.0|POLYGON ((201311....|  11110|
|11110700|        숭인1동|201492.0|453071.0|POLYGON ((201317....|  11110|
|11110710|        숭인2동|201797.0|452772.0|POLYGON ((201927....|  11110|
|11140520|         소공동|197736.0|451636.0|POLYGON ((197854....|  11140|
|11140540|         회현동|197977.0|450824.0|POLYGON ((198371....|  11140|
|11140550|           명동|198613.0|451602.0|POLYGON ((197918....|  11140|
+--------+---------------+--------+--------+--------------------+-------+
only showing top 20 rows

In [31]:
# CSV 파일 읽기
sang_df = spark.read.csv("hdfs://master:9000/input/상권polygon3.csv", header=True, inferSchema=True)
sang_df

DataFrame[상권_코드: int, 상권이름: string, X좌표: double, Y좌표: double, 구코드: int, 구 이름: string, 동코드: int, 동이름: string, geometry: string]

In [32]:
sang_df.show()

+---------+--------------------------------------+--------+--------+------+-------+--------+---------------+--------------------+
|상권_코드|                              상권이름|   X좌표|   Y좌표|구코드|구 이름|  동코드|         동이름|            geometry|
+---------+--------------------------------------+--------+--------+------+-------+--------+---------------+--------------------+
|  3110008|          배화여자대학교(박노수미술관)|197093.0|453418.0| 11110| 종로구|11110515|     청운효자동|POLYGON ((126.965...|
|  3001494|                    종로·청계 관광특구|199796.0|452274.0| 11110| 종로구|11110615|종로1·2·3·4가동|POLYGON ((127.015...|
|  3130021|                          신설종합시장|201854.0|452569.0| 11110| 종로구|11110710|        숭인2동|POLYGON ((127.021...|
|  3130002|      세종마을음식문화거리(금천교시장)|197423.0|453030.0| 11110| 종로구|11110530|         사직동|POLYGON ((126.972...|
|  3130001|                              통인시장|197351.0|453449.0| 11110| 종로구|11110515|     청운효자동|POLYGON ((126.970...|
|  3130020|                동묘시장(동묘벼룩시장)|201471.0|452424.0| 11110| 종로구|11110710|        숭인2동|MULTIPOLYGON (((1...|
|  3130019|                         동대문상가D동|201322.0|452269.0| 11110| 종로구|11110670|        창신1동|POLYGON ((127.015...|
|  3130018|동대문문구완구거리(동대문문구완구시장)|201224.0|452431.0| 11110| 종로구|11110670|        창신1동|POLYGON ((127.013...|
|  3130017|                         동대문상가C동|201180.0|452268.0| 11110| 종로구|11110670|        창신1동|POLYGON ((127.014...|
|  3130016|                         동대문상가B동|201060.0|452267.0| 11110| 종로구|11110670|        창신1동|POLYGON ((127.012...|
|  3130015|                          창신골목시장|200998.0|452635.0| 11110| 종로구|11110680|        창신2동|POLYGON ((127.011...|
|  3130014|                              동문시장|200970.0|452324.0| 11110| 종로구|11110670|        창신1동|POLYGON ((127.011...|
|  3130013|                         동대문상가A동|200943.0|452267.0| 11110| 종로구|11110670|        창신1동|POLYGON ((127.011...|
|  3130012|   동대문종합시장(동대문종합시장 신...|200717.0|452318.0| 11110| 종로구|11110630|    종로5·6가동|POLYGON ((127.009...|
|  3130011|                              충신시장|200496.0|452735.0| 11110| 종로구|11110630|    종로5·6가동|POLYGON ((127.005...|
|  3130010|                          종로신진시장|200454.0|452308.0| 11110| 종로구|11110630|    종로5·6가동|POLYGON ((127.006...|
|  3130009|       마전교지하쇼핑센터(구 한일상가)|200267.0|452276.0| 11110| 종로구|11110630|    종로5·6가동|POLYGON ((127.003...|
|  3130007|                광장시장(광장전통시장)|199984.0|452276.0| 11110| 종로구|11110615|종로1·2·3·4가동|POLYGON ((127.001...|
|  3130005|                          세운상가가동|199597.0|452205.0| 11110| 종로구|11110615|종로1·2·3·4가동|POLYGON ((126.996...|
|  3130004|      낙원시장(낙원지하시장(대일상가))|198930.0|452581.0| 11110| 종로구|11110615|종로1·2·3·4가동|POLYGON ((126.987...|
+---------+--------------------------------------+--------+--------+------+-------+--------+---------------+--------------------+
only showing top 20 rows

In [37]:
# 새로운 x, y 컬럼 추가 (WGS84로 변환)
sang_df = sang_df.withColumn("x", utmk_to_wgs84_udf_lon(sang_df["X좌표"], sang_df["Y좌표"]))
sang_df = sang_df.withColumn("y", utmk_to_wgs84_udf_lat(sang_df["X좌표"], sang_df["Y좌표"]))


sang_df

DataFrame[상권_코드: int, 상권이름: string, X좌표: double, Y좌표: double, 구코드: int, 구 이름: string, 동코드: int, 동이름: string, geometry: string, x: float, y: float]

In [40]:
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="enqnrhkwk108",
    database="S11P21D108",
    charset="utf8mb4",  # 문자셋 설정
    collation="utf8mb4_general_ci",  # collation 설정
    autocommit=False,  # Auto-commit을 끄고 트랜잭션 처리
    connection_timeout=28800,  # 타임아웃 증가
)
cursor = connection.cursor()
def insert_into_mariadb_area(row):
        sql = """
        INSERT INTO area (id, area_name, dong_code, x_pos, y_pos, polygon)
        VALUES (%s, %s, %s, %s, %s, ST_GeomFromText(%s))
        """
        # 시도 중인 행 삽입
        cursor.execute(sql, (
            row['상권_코드'], row['상권이름'], 
            row['동코드'], row['x'], row['y'], row['geometry']
        ))

# DataFrame의 각 행을 MariaDB에 삽입
for row in sang_df.collect():
    insert_into_mariadb_area(row)

# 변경사항 커밋 및 연결 종료
connection.commit()
cursor.close()
connection.close()

# # 결과 출력
# sang_df.show(truncate=False)

/tmp/ipykernel_212887/971659627.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_212887/971659627.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_212887/971659627.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_212887/971659627.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_212887/971659627.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_212887/971659627.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1

In [21]:
sang_df

DataFrame[상권_코드: int, 상권이름: string, X좌표: double, Y좌표: double, 구코드: int, 구 이름: string, 동코드: int, 동이름: string, geometry: string, x: float, y: float, transformed_geometry: string]

In [22]:
sang_df.show()

/tmp/ipykernel_212887/820277582.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_212887/820277582.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  0%|          | 0/199 [00:00<?, ?it/s]/tmp/ipykernel_212887/820277582.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
100%|██████████| 199/199 [00:01<00:00, 173.28it/s]                  (0 + 1) / 1]
100%|██████████| 641/641 [00:03<00:00, 173.70it/s]
100%|██████████| 18/18 [00:00<00:00, 174.44it/s]
100%|██████████| 56/56 [00:00<00:00, 172.99it/s]
100%|██████████| 42/42 [00:00<00:00, 173.86it/s]
['201566.4738 452608.9068, 201567.1469 452606.980799999, 201568.3303 452607.734200001, 201569.583 452607.8555, 201569.5827 452620.4606, 201573.3594 452612.2038, 201584.3517 452584.699100001, 201599.8581 452551.1107, 201576.2295 452550.783299999, 201564.1556 452552.628000001, 201558.8205 452553.603, 201557.9324 452562.3149, 201557.565 452565.589500001, 201557.0503 452567.1917, 201554.7021 452576.3358, 201542.8273 452572.786699999, 201528.3586 452568.0735, 201523.0936 452566.916200001, 201516.8042 452587.211999999, 201518.2999 452601.377900001, 201525.2719 452601.433, 201525.7085 452619.7349, 201524.9465 452627.7908, 201527.1352 452641.2885, 201528.6546 452640.559800001, 201533.2136 452639.0441, 201536.9056 452637.816, 201546.4517 452634.828299999, 201547.5735 452633.6314, 201547.8795 452633.3763, 201551.1366 452630.067299999, 201551.4735 452629.7344, 201557.7528 452621.3155, 201559.0966 452619.6536, 201566.5667 452609.11779999896, 201566.4738 452608.9068', '201649.5911 452428.7807, 201661.499 452408.273, 201662.2507 452407.0682, 201654.0595 452407.71979999903, 201653.1083 452407.7958, 201650.7308 452407.9166, 201643.2846 452403.85920000105, 201640.3232 452407.0649, 201635.423 452412.3693, 201629.1285 452409.331700001, 201625.495 452410.3289, 201624.2146 452410.680299999, 201623.866 452410.7744, 201622.7598 452411.0733, 201620.3668 452410.8793, 201621.0776 452411.6544, 201608.6149 452410.90619999904, 201604.3735 452411.005999999, 201602.8799 452411.04130000103, 201590.5257 452411.331700001, 201583.8879 452406.559699999, 201581.9751 452406.375700001, 201572.4328 452405.46140000003, 201569.5862 452405.1885, 201567.6213 452404.9934, 201560.2415 452404.262499999, 201547.7533 452403.024800001, 201539.0995 452402.16719999904, 201521.1018 452398.0869, 201514.0149 452396.4969, 201506.8113 452396.5878, 201496.9468 452396.712400001, 201484.4744 452397.089199999, 201483.6296 452397.11480000097, 201482.2581 452397.156300001, 201464.2783 452399.5988, 201463.2982 452399.72959999903, 201458.7272 452400.3402, 201457.0929 452400.558599999, 201440.432 452402.783600001, 201417.6533 452405.825999999, 201393.2497 452411.335999999, 201391.5864 452411.7115, 201388.076 452417.319599999, 201383.6614 452424.372300001, 201383.5811 452439.683499999, 201383.544 452447.1722, 201383.5376 452448.6854, 201391.3845 452448.90619999904, 201432.3551 452449.368799999, 201461.8969 452449.702400001, 201464.1154 452449.72739999904, 201467.3739 452449.7643, 201495.9416 452452.551899999, 201499.3447 452448.596899999, 201500.7329 452434.93710000097, 201510.7729 452431.0942, 201513.7639 452428.746400001, 201515.366 452427.5725, 201519.3181 452426.612500001, 201530.3189 452427.0396, 201544.3646 452429.251800001, 201557.5025 452432.9879, 201564.6755 452434.949899999, 201576.6201 452438.2173, 201576.4062 452438.8574, 201586.553 452441.5264, 201586.3511 452443.85050000105, 201594.8583 452448.123199999, 201613.0559 452457.263, 201626.1083 452463.4158, 201634.2865 452467.2709, 201633.7562 452468.813899999, 201616.6719 452516.5228, 201615.8167 452518.9112, 201606.5773 452536.2981, 201630.3405 452546.0184, 201664.9356 452560.169600001, 201672.3025 452563.6677, 201647.9274 452617.900699999, 201646.1466 452621.8628, 201636.3613 452643.9716, 201622.7762 452674.85009999905, 201623.3312 452675.0832, 201624.3072 452675.2722, 201630.7151 452677.6833, 201637.114 452679.8676, 201640.4042 452681.0954, 201641.4873 452681.523499999, 201653.4768 452685.6209, 201660.2368 452687.9157, 201667.7847 452690.495100001, 201670.8895 452691.58180000103, 201673.8638 452692.624, 201688.6346 452657.963099999, 201692.5417 452649.2443, 201696.0268 452640.8244, 201715.2595 452592.2721, 201728.9208 452561.85579999903, 201720.5339 452559.4936, 201734.1185 452515.8641, 201715.9958 452505.3489, 201699.7321 452496.8617, 201706.1944 452482.661, 201696.9149 452475.5941, 201687.0177 452468.056700001, 201655.8853 452444.5635, 201644.4966 452437.554500001, 201649.5911 452428.7807']
((35.27883922979725 129.77624675368298, 35.278845775217626 129.77622581548172, 35.27885623917613 129.77623445079007, 35.27886748640923 129.77623616770742, 35.27886430532311 129.77637455652936, 35.27890038820452 129.77628506805453, 35.27900628470529 129.77598647886956, 35.27915435375869 129.7756224846121, 35.278941712426665 129.77561162622962, 35.278832548332794 129.7756281671012, 35.27878427163704 129.77563723132005, 35.278774080022146 129.77573260448148, 35.278769946862866 129.7757684426959, 35.27876490919731 129.7757858746845, 35.27874146349936 129.7758855439278, 35.27863545167442 129.7758429282959, 35.27850638090472 129.7757867349552, 35.278459272852736 129.7757724106113, 35.27839753380001 129.77599329945983, 35.27840742770289 129.77614928310808, 35.278470181400095 129.77615203173505, 35.278469497321346 129.7763530979745, 35.27846060583344 129.77644130735868, 35.278476906597376 129.776590168257, 35.278490769220504 129.77658263529023, 35.27853219523368 129.7765673967791, 35.27856574328763 129.77655504912687, 35.27865243838891 129.77652518345897, 35.278662839558265 129.77651238793638, 35.278665658745204 129.77650968135063, 35.27869581620633 129.7764743541793, 35.27869893319768 129.77647080294423, 35.27875758744177 129.77638030458604, 35.27877010447286 129.7763624721559, 35.27884001295548 129.77624909877545, 35.27883922979725 129.77624675368298))MULTIPOLYGON (((35.27963292192708 129.7742947228559, 35.279745293830196 129.7740732290952, 35.27975236480583 129.7740602326291, 35.27967845670306 129.77406486971137, 35.2796698740686 129.77406541184868, 35.27964843941897 129.77406600760344, 35.2795824248519 129.77401917384697, 35.279554956214746 129.77405345907468, 35.27950950411697 129.77411019001065, 35.27945360117624 129.77407490645626, 35.279420638168 129.77408473820685, 35.27940902241584 129.7740882027822, 35.27940586032259 129.77408912878727, 35.27939582608981 129.7740920704934, 35.279374331210605 129.7740892053262, 35.27938053512906 129.7740979334633, 35.279268524143056 129.77408588983798, 35.279230314419095 129.77408568234625, 35.2792168589067 129.7740856109876, 35.27910556304588 129.77408500339584, 35.279047006391465 129.7740305728594, 35.27902983214557 129.77402796505413, 35.278944154838975 129.77401499529444, 35.278918596151534 129.7740111245771, 35.278900955653846 129.77400837890966, 35.27883470074617 129.77399808711897, 35.278722583483365 129.77398066180317, 35.278644890889495 129.7739685876386, 35.278483888688264 129.773918261477, 35.27842048712412 129.77389862796383, 35.278355611458714 129.7738974128246, 35.27826677167959 129.7738957501899, 35.27815438988933 129.77389605520312, 35.27814677785136 129.77389607671947, 35.27813442001852 129.77389611098502, 35.277971935646455 129.77391740274913, 35.27796307902293 129.77391853765732, 35.27792177327055 129.77392383694908, 35.2779070049282 129.77392573260659, 35.27775644917508 129.77394504161416, 35.27755060999119 129.77397144500117, 35.27732952043653 129.77402443992148, 35.27731445143191 129.77402805138507, 35.27728143501775 129.77408854204987, 35.27723991425857 129.77416461455164, 35.27723533361301 129.77433268546235, 35.27723311271512 129.77441488951337, 35.27723267381627 129.77443150036513, 35.277303262445734 129.77443633555163, 35.277671996993114 129.77445400342376, 35.27793787254903 129.77446674346174, 35.277957839013226 129.77446769963112, 35.27798716541504 129.77446910602026, 35.27824365293755 129.77450848871945, 35.278275287032486 129.77446611353503, 35.278291226658816 129.77431657266803, 35.27838258328984 129.77427746737933, 35.27841010229514 129.77425261047352, 35.2784248214972 129.77424021476838, 35.2784606434414 129.774230889478, 35.27855957409868 129.77423895863228, 35.27868546767121 129.77426756165667, 35.27880280449232 129.7743126164555, 35.27886688737605 129.77433636097823, 35.27897359919252 129.77437590353236, 35.27897151219855 129.77438286535735, 35.2790621895048 129.77441528584657, 35.27905978620467 129.77444073974368, 35.27913529835205 129.77449026329046, 35.279296824920245 129.77459620012374, 35.279412782810994 129.7746677622026, 35.27948543815378 129.7747126002922, 35.279480275106174 129.77472937776201, 35.27931444398568 129.77524791746004, 35.27930614276107 129.77527387652574, 35.27921857947341 129.77546192481688, 35.27943006481152 129.7755759478592, 35.279737950518964 129.7757419481663, 35.27980339142995 129.77578261847697, 35.27957027303266 129.7763705432259, 35.27955324174063 129.77641349509435, 35.27945957129506 129.77665321588273, 35.27932947973137 129.77698804871784, 35.279334417495036 129.77699077859447, 35.27934315656097 129.77699315379314, 35.2794002374931 129.77702159586306, 35.27945729459494 129.7770475451978, 35.279486605933094 129.7770620370782, 35.27949624889022 129.77706707028292, 35.279603154499995 129.77711574302074, 35.279663434613504 129.77714301673657, 35.279730736238626 129.77717365745193, 35.27975841402759 129.77718654327788, 35.27978492817386 129.77719890040896, 35.27992664895119 129.77682290405934, 35.27996402268399 129.77672838249947, 35.27999752178453 129.77663701267434, 35.280182913209764 129.77610987288895, 35.280313572037244 129.77578013297907, 35.280238661905585 129.77575161982955, 35.28037195996967 129.7752767875525, 35.28021145513826 129.7751557703705, 35.28006717524954 129.77505759044212, 35.28012893326681 129.7749036674768, 35.28004717267762 129.77482322806804, 35.27995996955888 129.77473743337973, 35.2796856105184 129.77446993523495, 35.27958484625396 129.7743894842546, 35.27963292192708 129.7742947228559)))
100%|██████████| 34/34 [00:00<00:00, 173.29it/s]
100%|██████████| 51/51 [00:00<00:00, 174.16it/s]
100%|██████████| 17/17 [00:00<00:00, 173.75it/s]
100%|██████████| 15/15 [00:00<00:00, 174.00it/s]
100%|██████████| 101/101 [00:00<00:00, 172.31it/s]
100%|██████████| 38/38 [00:00<00:00, 172.03it/s]
100%|██████████| 20/20 [00:00<00:00, 172.60it/s]
100%|██████████| 52/52 [00:00<00:00, 171.33it/s]
100%|██████████| 39/39 [00:00<00:00, 172.54it/s]
100%|██████████| 65/65 [00:00<00:00, 173.53it/s]
100%|██████████| 11/11 [00:00<00:00, 166.69it/s]
100%|██████████| 58/58 [00:00<00:00, 172.22it/s]
100%|██████████| 41/41 [00:00<00:00, 172.93it/s]
100%|██████████| 20/20 [00:00<00:00, 171.70it/s]
100%|██████████| 120/120 [00:00<00:00, 171.50it/s]

+---------+--------------------------------------+--------+--------+------+-------+--------+---------------+--------------------+---------+---------+--------------------+
|상권_코드|                              상권이름|   X좌표|   Y좌표|구코드|구 이름|  동코드|         동이름|            geometry|        x|        y|transformed_geometry|
+---------+--------------------------------------+--------+--------+------+-------+--------+---------------+--------------------+---------+---------+--------------------+
|  3110008|          배화여자대학교(박노수미술관)|197093.0|453418.0| 11110| 종로구|11110515|     청운효자동|POLYGON ((196955....| 35.23836|129.78375|POLYGON ((35.2370...|
|  3001494|                    종로·청계 관광특구|199796.0|452274.0| 11110| 종로구|11110615|종로1·2·3·4가동|POLYGON ((201385....|35.262985|129.77203|POLYGON ((35.2772...|
|  3130021|                          신설종합시장|201854.0|452569.0| 11110| 종로구|11110710|        숭인2동|POLYGON ((201937....|35.281437| 129.7759|POLYGON ((35.2821...|
|  3130002|      세종마을음식문화거리(금천교시장)|197423.0|453030.0| 11110| 종로구|11110530|         사직동|POLYGON ((197550....| 35.24143| 129.7796|POLYGON ((35.2425...|
|  3130001|                              통인시장|197351.0|453449.0| 11110| 종로구|11110515|     청운효자동|POLYGON ((197428....|35.240677|129.78416|POLYGON ((35.2413...|
|  3130020|                동묘시장(동묘벼룩시장)|201471.0|452424.0| 11110| 종로구|11110710|        숭인2동|MULTIPOLYGON (((2...|35.278027|129.77419|((35.278839229797...|
|  3130019|                         동대문상가D동|201322.0|452269.0| 11110| 종로구|11110670|        창신1동|POLYGON ((201336....|35.276726|129.77245|POLYGON ((35.2768...|
|  3130018|동대문문구완구거리(동대문문구완구시장)|201224.0|452431.0| 11110| 종로구|11110670|        창신1동|POLYGON ((201217....|35.275803|129.77419|POLYGON ((35.2757...|
|  3130017|                         동대문상가C동|201180.0|452268.0| 11110| 종로구|11110670|        창신1동|POLYGON ((201244....|35.275444|129.77238|POLYGON ((35.2760...|
|  3130016|                         동대문상가B동|201060.0|452267.0| 11110| 종로구|11110670|        창신1동|POLYGON ((201117....|35.274364|129.77234|POLYGON ((35.2748...|
|  3130015|                          창신골목시장|200998.0|452635.0| 11110| 종로구|11110680|        창신2동|POLYGON ((201012....|35.273716|129.77635|POLYGON ((35.2738...|
|  3130014|                              동문시장|200970.0|452324.0| 11110| 종로구|11110670|        창신1동|POLYGON ((201021....| 35.27354|129.77293|POLYGON ((35.2739...|
|  3130013|                         동대문상가A동|200943.0|452267.0| 11110| 종로구|11110670|        창신1동|POLYGON ((201000....| 35.27331|129.77231|POLYGON ((35.2738...|
|  3130012|   동대문종합시장(동대문종합시장 신...|200717.0|452318.0| 11110| 종로구|11110630|    종로5·6가동|POLYGON ((200854....|35.271263| 129.7728|POLYGON ((35.2725...|
|  3130011|                              충신시장|200496.0|452735.0| 11110| 종로구|11110630|    종로5·6가동|POLYGON ((200490....| 35.26917| 129.7773|POLYGON ((35.2690...|
|  3130010|                          종로신진시장|200454.0|452308.0| 11110| 종로구|11110630|    종로5·6가동|POLYGON ((200580....|35.268898| 129.7726|POLYGON ((35.2700...|
|  3130009|       마전교지하쇼핑센터(구 한일상가)|200267.0|452276.0| 11110| 종로구|11110630|    종로5·6가동|POLYGON ((200293....|35.267223|129.77219|POLYGON ((35.2674...|
|  3130007|                광장시장(광장전통시장)|199984.0|452276.0| 11110| 종로구|11110615|종로1·2·3·4가동|POLYGON ((200168....|35.264675|129.77211|POLYGON ((35.2663...|
|  3130005|                          세운상가가동|199597.0|452205.0| 11110| 종로구|11110615|종로1·2·3·4가동|POLYGON ((199687....| 35.26121|129.77121|POLYGON ((35.2620...|
|  3130004|      낙원시장(낙원지하시장(대일상가))|198930.0|452581.0| 11110| 종로구|11110615|종로1·2·3·4가동|POLYGON ((198937....| 35.25511|129.77513|POLYGON ((35.2551...|
+---------+--------------------------------------+--------+--------+------+-------+--------+---------------+--------------------+---------+---------+--------------------+
only showing top 20 rows

In [33]:
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="enqnrhkwk108",
    database="S11P21D108",
    charset="utf8mb4",  # 문자셋 설정
    collation="utf8mb4_general_ci",  # collation 설정
    autocommit=False,  # Auto-commit을 끄고 트랜잭션 처리
    connection_timeout=28800,  # 타임아웃 증가
)

In [34]:
area_selected = sang_df.select(
    sang_df['상권_코드'].alias('area_code'),
    sang_df['상권이름'].alias('area_name'),
    sang_df['동코드'].alias('dong_code'),
    sang_df['x'].alias('x_pos'),
    sang_df['y'].alias('y_pos'),
    sang_df['geometry'].alias('geometry')
)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `x` cannot be resolved. Did you mean one of the following? [`상권_코드`, `상권이름`, `X좌표`, `Y좌표`, `구코드`, `구 이름`, `동코드`, `동이름`, `geometry`].

In [14]:
area_selected.show()

/tmp/ipykernel_212887/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_212887/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  0%|          | 0/199 [00:00<?, ?it/s]/tmp/ipykernel_212887/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
100%|██████████| 199/199 [00:01<00:00, 169.47it/s]                  (0 + 1) / 1]
100%|██████████| 641/641 [00:03<00:00, 170.67it/s]
100%|██████████| 18/18 [00:00<00:00, 175.10it/s]
100%|██████████| 56/56 [00:00<00:00, 170.74it/s]
100%|██████████| 42/42 [00:00<00:00, 167.49it/s]
100%|██████████| 34/34 [00:00<00:00, 169.24it/s]
100%|██████████| 51/51 [00:00<00:00, 174.41it/s]
100%|██████████| 17/17 [00:00<00:00, 166.13it/s]
100%|██████████| 15/15 [00:00<00:00, 174.58it/s]
100%|██████████| 101/101 [00:00<00:00, 169.61it/s]
100%|██████████| 38/38 [00:00<00:00, 172.71it/s]
100%|██████████| 20/20 [00:00<00:00, 173.43it/s]
100%|██████████| 52/52 [00:00<00:00, 168.79it/s]
100%|██████████| 39/39 [00:00<00:00, 172.77it/s]
100%|██████████| 65/65 [00:00<00:00, 171.72it/s]
100%|██████████| 11/11 [00:00<00:00, 171.06it/s]
100%|██████████| 58/58 [00:00<00:00, 169.03it/s]
100%|██████████| 41/41 [00:00<00:00, 164.36it/s]
100%|██████████| 20/20 [00:00<00:00, 172.67it/s]
 60%|██████    | 72/120 [00:00<00:00, 172.00it/s]

+---------+--------------------------------------+---------+---------+---------+--------------------+
|area_code|                             area_name|dong_code|    x_pos|    y_pos|            geometry|
+---------+--------------------------------------+---------+---------+---------+--------------------+
|  3110008|          배화여자대학교(박노수미술관)| 11110515| 35.23836|129.78375|POLYGON ((35.2370...|
|  3001494|                    종로·청계 관광특구| 11110615|35.262985|129.77203|POLYGON ((35.2772...|
|  3130021|                          신설종합시장| 11110710|35.281437| 129.7759|POLYGON ((35.2821...|
|  3130002|      세종마을음식문화거리(금천교시장)| 11110530| 35.24143| 129.7796|POLYGON ((35.2425...|
|  3130001|                              통인시장| 11110515|35.240677|129.78416|POLYGON ((35.2413...|
|  3130020|                동묘시장(동묘벼룩시장)| 11110710|35.278027|129.77419|MULTIPOLYGON (((2...|
|  3130019|                         동대문상가D동| 11110670|35.276726|129.77245|POLYGON ((35.2768...|
|  3130018|동대문문구완구거리(동대문문구완구시장)| 11110670|35.275803|129.77419|POLYGON ((35.2757...|
|  3130017|                         동대문상가C동| 11110670|35.275444|129.77238|POLYGON ((35.2760...|
|  3130016|                         동대문상가B동| 11110670|35.274364|129.77234|POLYGON ((35.2748...|
|  3130015|                          창신골목시장| 11110680|35.273716|129.77635|POLYGON ((35.2738...|
|  3130014|                              동문시장| 11110670| 35.27354|129.77293|POLYGON ((35.2739...|
|  3130013|                         동대문상가A동| 11110670| 35.27331|129.77231|POLYGON ((35.2738...|
|  3130012|   동대문종합시장(동대문종합시장 신...| 11110630|35.271263| 129.7728|POLYGON ((35.2725...|
|  3130011|                              충신시장| 11110630| 35.26917| 129.7773|POLYGON ((35.2690...|
|  3130010|                          종로신진시장| 11110630|35.268898| 129.7726|POLYGON ((35.2700...|
|  3130009|       마전교지하쇼핑센터(구 한일상가)| 11110630|35.267223|129.77219|POLYGON ((35.2674...|
|  3130007|                광장시장(광장전통시장)| 11110615|35.264675|129.77211|POLYGON ((35.2663...|
|  3130005|                          세운상가가동| 11110615| 35.26121|129.77121|POLYGON ((35.2620...|
|  3130004|      낙원시장(낙원지하시장(대일상가))| 11110615| 35.25511|129.77513|POLYGON ((35.2551...|
+---------+--------------------------------------+---------+---------+---------+--------------------+
only showing top 20 rows

100%|██████████| 120/120 [00:00<00:00, 172.28it/s]

In [24]:
area_selected.filter(area_selected.geometry.like("%MULTI%")).show()

  0%|          | 0/199 [00:00<?, ?it/s]/tmp/ipykernel_212887/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
100%|██████████| 199/199 [00:01<00:00, 168.64it/s]                  (0 + 1) / 1]
100%|██████████| 641/641 [00:03<00:00, 168.67it/s]
100%|██████████| 18/18 [00:00<00:00, 172.64it/s]
100%|██████████| 56/56 [00:00<00:00, 163.66it/s]
100%|██████████| 42/42 [00:00<00:00, 167.84it/s]
100%|██████████| 34/34 [00:00<00:00, 166.09it/s]
100%|██████████| 51/51 [00:00<00:00, 167.98it/s]
100%|██████████| 17/17 [00:00<00:00, 173.95it/s]
100%|██████████| 15/15 [00:00<00:00, 167.28it/s]
100%|██████████| 101/101 [00:00<00:00, 167.22it/s]
100%|██████████| 38/38 [00:00<00:00, 171.49it/s]
100%|██████████| 20/20 [00:00<00:00, 168.39it/s]
100%|██████████| 52/52 [00:00<00:00, 169.86it/s]
100%|██████████| 39/39 [00:00<00:00, 171.17it/s]
100%|██████████| 65/65 [00:00<00:00, 167.14it/s]
100%|██████████| 11/11 [00:00<00:00, 170.62it/s]
100%|██████████| 58/58 [00:00<00:00, 166.94it/s]
100%|██████████| 41/41 [00:00<00:00, 171.37it/s]
100%|██████████| 20/20 [00:00<00:00, 172.76it/s]
100%|██████████| 120/120 [00:00<00:00, 168.85it/s]

+--------------------+
|            geometry|
+--------------------+
|POLYGON ((35.2370...|
|POLYGON ((35.2772...|
|POLYGON ((35.2821...|
|POLYGON ((35.2425...|
|POLYGON ((35.2413...|
|MULTIPOLYGON (((2...|
|POLYGON ((35.2768...|
|POLYGON ((35.2757...|
|POLYGON ((35.2760...|
|POLYGON ((35.2748...|
|POLYGON ((35.2738...|
|POLYGON ((35.2739...|
|POLYGON ((35.2738...|
|POLYGON ((35.2725...|
|POLYGON ((35.2690...|
|POLYGON ((35.2700...|
|POLYGON ((35.2674...|
|POLYGON ((35.2663...|
|POLYGON ((35.2620...|
|POLYGON ((35.2551...|
+--------------------+
only showing top 20 rows

  0%|          | 0/199 [00:00<?, ?it/s]/tmp/ipykernel_212887/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
100%|██████████| 199/199 [00:01<00:00, 170.15it/s]                  (0 + 1) / 1]
100%|██████████| 641/641 [00:03<00:00, 171.50it/s]
100%|██████████| 18/18 [00:00<00:00, 166.67it/s]
100%|██████████| 56/56 [00:00<00:00, 172.76it/s]
100%|██████████| 42/42 [00:00<00:00, 168.45it/s]
100%|██████████| 34/34 [00:00<00:00, 174.52it/s]
100%|██████████| 51/51 [00:00<00:00, 168.35it/s]
100%|██████████| 17/17 [00:00<00:00, 170.35it/s]
100%|██████████| 15/15 [00:00<00:00, 172.11it/s]
100%|██████████| 101/101 [00:00<00:00, 170.01it/s]
100%|██████████| 38/38 [00:00<00:00, 173.99it/s]
100%|██████████| 20/20 [00:00<00:00, 171.95it/s]
100%|██████████| 52/52 [00:00<00:00, 172.73it/s]
100%|██████████| 39/39 [00:00<00:00, 168.17it/s]
100%|██████████| 65/65 [00:00<00:00, 173.79it/s]
100%|██████████| 11/11 [00:00<00:00, 162.85it/s]
100%|██████████| 58/58 [00:00<00:00, 173.27it/s]
100%|██████████| 41/41 [00:00<00:00, 167.41it/s]
100%|██████████| 20/20 [00:00<00:00, 168.38it/s]
100%|██████████| 120/120 [00:00<00:00, 171.92it/s]
100%|██████████| 106/106 [00:00<00:00, 171.24it/s]
100%|██████████| 154/154 [00:00<00:00, 171.57it/s]
100%|██████████| 36/36 [00:00<00:00, 170.85it/s]
100%|██████████| 126/126 [00:00<00:00, 171.06it/s]
100%|██████████| 187/187 [00:01<00:00, 171.85it/s]
100%|██████████| 224/224 [00:01<00:00, 170.94it/s]
100%|██████████| 194/194 [00:01<00:00, 170.65it/s]
100%|██████████| 94/94 [00:00<00:00, 171.33it/s]
 73%|███████▎  | 361/496 [00:02<00:00, 170.12it/s]
24/09/24 04:20:59 ERROR PythonUDFRunner: Python worker exited unexpectedly (crashed)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1225, in main
    eval_type = read_int(infile)
  File "/usr/local/lib/python3.8/dist-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_212887/4117932964.py", line 20, in transform_polygon
ValueError: could not convert string to float: '453676.211200001)'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.ContextAwareIterator.hasNext(ContextAwareIterator.scala:39)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1211)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1217)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:322)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$PythonUDFWriterThread.writeIteratorToStream(PythonUDFRunner.scala:58)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)
24/09/24 04:20:59 ERROR PythonUDFRunner: This may have been caused by a prior exception:
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_212887/4117932964.py", line 20, in transform_polygon
ValueError: could not convert string to float: '453676.211200001)'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.ContextAwareIterator.hasNext(ContextAwareIterator.scala:39)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1211)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1217)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:322)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$PythonUDFWriterThread.writeIteratorToStream(PythonUDFRunner.scala:58)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)
24/09/24 04:20:59 ERROR Executor: Exception in task 0.0 in stage 13.0 (TID 15)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_212887/4117932964.py", line 20, in transform_polygon
ValueError: could not convert string to float: '453676.211200001)'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.ContextAwareIterator.hasNext(ContextAwareIterator.scala:39)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1211)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1217)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:322)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$PythonUDFWriterThread.writeIteratorToStream(PythonUDFRunner.scala:58)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)
24/09/24 04:20:59 WARN TaskSetManager: Lost task 0.0 in stage 13.0 (TID 15) (master executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_212887/4117932964.py", line 20, in transform_polygon
ValueError: could not convert string to float: '453676.211200001)'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.ContextAwareIterator.hasNext(ContextAwareIterator.scala:39)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1211)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1217)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:322)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$PythonUDFWriterThread.writeIteratorToStream(PythonUDFRunner.scala:58)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)

24/09/24 04:20:59 ERROR TaskSetManager: Task 0 in stage 13.0 failed 1 times; aborting job

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/tmp/ipykernel_212887/4117932964.py", line 20, in transform_polygon
ValueError: could not convert string to float: '453676.211200001)'

In [ ]:
# 필요한 컬럼만 선택하여 DataFrame 생성
df_selected = df.select(
    df['구코드'].alias('gu_code'),
    df['구이름'].alias('gu_name'),
    df['x'].alias('x_pos'),
    df['y'].alias('y_pos'),
    df['transformed_geometry'].alias('geometry')
)

In [ ]:
dong_selected = dong_df.select(
    dong_df['동코드'].alias('dong_code'),
    dong_df['동이름'].alias('dong_name'),
    dong_df['gu_code'].alias('gu_code'),
    dong_df['x'].alias('x_pos'),
    dong_df['y'].alias('y_pos'),
    dong_df['transformed_geometry'].alias('geometry')
)

In [54]:
# MariaDB에 삽입할 함수 정의
def insert_into_mariadb_gu(row):
    sql = """
    INSERT INTO gu (id, gu_name, x_pos, y_pos, polygon)
    VALUES (%s, %s, %s, %s, ST_GeomFromText(%s))
    """
    cursor.execute(sql, (row['gu_code'], row['gu_name'], row['x_pos'], row['y_pos'], row['geometry']))

def insert_into_mariadb_dong(row):
    sql = """
    INSERT INTO dong (id, dong_name, gu_code, x_pos, y_pos, polygon)
    VALUES (%s, %s, %s, %s, %s, ST_GeomFromText(%s))
    """
    cursor.execute(sql, (row['dong_code'], row['dong_name'], row['gu_code'], row['x_pos'], row['y_pos'], row['geometry']))

def insert_into_mariadb_area(row):
        sql = """
        INSERT INTO area (id, area_name, dong_code, x_pos, y_pos, polygon)
        VALUES (%s, %s, %s, %s, %s, %s)
        """
        # 시도 중인 행 삽입
        cursor.execute(sql, (
            row['area_code'], row['area_name'], 
            row['dong_code'], row['x_pos'], row['y_pos'], row['geometry']
        ))

In [43]:
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="enqnrhkwk108",
    database="S11P21D108",
    charset="utf8mb4",  # 문자셋 설정
    collation="utf8mb4_general_ci",  # collation 설정
    autocommit=False,  # Auto-commit을 끄고 트랜잭션 처리
    connection_timeout=28800,  # 타임아웃 증가
)

cursor = connection.cursor()

In [ ]:


# DataFrame의 각 행을 MariaDB에 삽입
for row in df_selected.collect():
    insert_into_mariadb_gu(row)

# 변경사항 커밋 및 연결 종료
connection.commit()
cursor.close()
connection.close()

In [ ]:
# DataFrame의 각 행을 MariaDB에 삽입
for row in dong_selected.collect():
    insert_into_mariadb_dong(row)

# 변경사항 커밋 및 연결 종료
connection.commit()
cursor.close()
connection.close()

In [55]:
# DataFrame의 각 행을 MariaDB에 삽입
for row in area_selected.collect():
    insert_into_mariadb_area(row)

# 변경사항 커밋 및 연결 종료
connection.commit()
cursor.close()
connection.close()

/tmp/ipykernel_205585/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_205585/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_205585/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
/tmp/ipykernel_205585/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  0%|          | 0/199 [00:00<?, ?it/s]/tmp/ipykernel_205585/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  0%|          | 0/218 [00:00<?, ?it/s]/tmp/ipykernel_205585/4117932964.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
100%|██████████| 199/199 [00:01<00:00, 169.83it/s]                  (0 + 2) / 2]
100%|██████████| 218/218 [00:01<00:00, 170.91it/s]
100%|██████████| 58/58 [00:00<00:00, 171.07it/s]]
100%|██████████| 65/65 [00:00<00:00, 171.46it/s]s]
100%|██████████| 18/18 [00:00<00:00, 173.98it/s]s]
100%|██████████| 66/66 [00:00<00:00, 168.48it/s]s]
100%|██████████| 31/31 [00:00<00:00, 164.95it/s]s]
100%|██████████| 58/58 [00:00<00:00, 170.38it/s]s]
100%|██████████| 202/202 [00:01<00:00, 169.44it/s]
100%|██████████| 641/641 [00:03<00:00, 169.77it/s]
100%|██████████| 18/18 [00:00<00:00, 169.63it/s]s]
100%|██████████| 56/56 [00:00<00:00, 169.63it/s]s]
100%|██████████| 42/42 [00:00<00:00, 169.47it/s]s]
100%|██████████| 34/34 [00:00<00:00, 169.46it/s]s]
100%|██████████| 320/320 [00:01<00:00, 170.02it/s]
100%|██████████| 51/51 [00:00<00:00, 170.42it/s]
100%|██████████| 17/17 [00:00<00:00, 171.95it/s]]
100%|██████████| 15/15 [00:00<00:00, 162.99it/s]]
100%|██████████| 101/101 [00:00<00:00, 171.28it/s]
100%|██████████| 38/38 [00:00<00:00, 173.18it/s]s]
100%|██████████| 198/198 [00:01<00:00, 171.33it/s]
100%|██████████| 20/20 [00:00<00:00, 172.03it/s]
100%|██████████| 52/52 [00:00<00:00, 170.41it/s]]
100%|██████████| 39/39 [00:00<00:00, 172.41it/s]]
100%|██████████| 65/65 [00:00<00:00, 171.55it/s]s]
100%|██████████| 11/11 [00:00<00:00, 167.02it/s]
100%|██████████| 58/58 [00:00<00:00, 172.91it/s]s]
100%|██████████| 41/41 [00:00<00:00, 170.36it/s]s]
100%|██████████| 20/20 [00:00<00:00, 173.64it/s]s]
100%|██████████| 120/120 [00:00<00:00, 170.98it/s]
100%|██████████| 466/466 [00:02<00:00, 170.51it/s]
100%|██████████| 106/106 [00:00<00:00, 170.85it/s]
100%|██████████| 133/133 [00:00<00:00, 170.71it/s]
100%|██████████| 154/154 [00:00<00:00, 170.32it/s]
100%|██████████| 36/36 [00:00<00:00, 170.94it/s]s]
100%|██████████| 153/153 [00:00<00:00, 168.75it/s]
100%|██████████| 126/126 [00:00<00:00, 171.11it/s]
100%|██████████| 228/228 [00:01<00:00, 169.55it/s]
100%|██████████| 187/187 [00:01<00:00, 169.86it/s]
100%|██████████| 167/167 [00:00<00:00, 168.68it/s]
100%|██████████| 224/224 [00:01<00:00, 168.53it/s]
100%|██████████| 183/183 [00:01<00:00, 165.25it/s]
100%|██████████| 194/194 [00:01<00:00, 168.84it/s]
100%|██████████| 94/94 [00:00<00:00, 168.96it/s]s]
100%|██████████| 264/264 [00:01<00:00, 169.01it/s]
100%|██████████| 84/84 [00:00<00:00, 169.10it/s]s]
100%|██████████| 99/99 [00:00<00:00, 167.33it/s]s]
 73%|███████▎  | 361/496 [00:02<00:00, 170.79it/s]
24/09/24 01:59:18 ERROR Executor: Exception in task 0.0 in stage 25.0 (TID 35)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_205585/4117932964.py", line 20, in transform_polygon
ValueError: could not convert string to float: '453676.211200001)'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
24/09/24 01:59:18 WARN TaskSetManager: Lost task 0.0 in stage 25.0 (TID 35) (master executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_205585/4117932964.py", line 20, in transform_polygon
ValueError: could not convert string to float: '453676.211200001)'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

24/09/24 01:59:18 ERROR TaskSetManager: Task 0 in stage 25.0 failed 1 times; aborting job
 34%|███▍      | 121/355 [00:00<00:01, 167.18it/s]                  (0 + 1) / 2]

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/tmp/ipykernel_205585/4117932964.py", line 20, in transform_polygon
ValueError: could not convert string to float: '453676.211200001)'

100%|██████████| 355/355 [00:02<00:00, 169.35it/s]
100%|██████████| 113/113 [00:00<00:00, 169.14it/s]
 45%|████▌     | 176/389 [00:01<00:01, 169.03it/s]24/09/24 01:59:21 WARN PythonUDFRunner: Incomplete task 1.0 in stage 25 (TID 36) interrupted: Attempting to kill Python Worker
24/09/24 01:59:21 WARN TaskSetManager: Lost task 1.0 in stage 25.0 (TID 36) (master executor driver): TaskKilled (Stage cancelled: Job aborted due to stage failure: Task 0 in stage 25.0 failed 1 times, most recent failure: Lost task 0.0 in stage 25.0 (TID 35) (master executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_205585/4117932964.py", line 20, in transform_polygon
ValueError: could not convert string to float: '453676.211200001)'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:94)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

Driver stacktrace:)

In [ ]:
cursor.close()
connection.close()

In [43]:
# CSV 파일 읽기
dong_fee_df = spark.read.csv("hdfs://master:9000/input/동_임대료.csv", header=True, inferSchema=True)

In [45]:
dong_fee_df.show()

+------+---------------+-------+-------+-------+
|    구|             동|    1층| 1층 외|   전체|
+------+---------------+-------+-------+-------+
|종로구|         종로구|230,674|160,559|195,617|
|종로구|     청운효자동|188,588|115,520|152,054|
|종로구|         사직동|235,516|132,729|184,123|
|종로구|         삼청동|153,171|   NULL|153,171|
|종로구|         부암동|115,405| 80,929| 98,167|
|종로구|         평창동| 83,479|119,522|101,501|
|종로구|         무악동|   NULL|   NULL|   NULL|
|종로구|         교남동|215,432|152,824|184,128|
|종로구|         가회동|233,527|110,071|171,799|
|종로구|종로1·2·3·4가동|269,591|130,688|200,140|
|종로구|    종로5·6가동|273,313|281,611|277,462|
|종로구|         이화동|178,429|105,291|141,860|
|종로구|         혜화동|159,892| 91,260|125,576|
|종로구|        창신1동|262,631|127,691|195,161|
|종로구|        창신2동|105,489| 76,719| 91,104|
|종로구|        창신3동|214,241|   NULL|214,241|
|종로구|        숭인1동|183,505| 58,548|121,027|
|종로구|        숭인2동|205,581|111,597|158,589|
|  중구|           중구|282,431|256,317|269,374|
|  중구|         소공동|259,429|197,948|228,689|
+------+---------------+-------+-------+-------+
only showing top 20 rows

In [51]:
dong_fee_df.filter((dong_fee_df["1층"].isNULL()))

TypeError: 'Column' object is not callable

In [56]:
dong_fee_df.filter((dong_fee_df["1층"].isNull()))

DataFrame[구: string, 동: string, 1층: string, 1층 외: string, 전체: string]

In [59]:
from pyspark.sql import functions as F

# 먼저 각 구별로 '구' == '동'인 경우의 값을 가져옴
df_with_aggregated_values = dong_fee_df.filter(dong_fee_df["구"] == dong_fee_df["동"]).select(
    "구", 
    F.col("1층").alias("aggregated_1층"),
    F.col("1층 외").alias("aggregated_1층 외"),
    F.col("전체").alias("aggregated_전체")
)

# 원본 데이터프레임에 조인해서 NULL 값을 채움
dong_fee_df_filled = dong_fee_df.alias("original").join(
    df_with_aggregated_values.alias("aggregated"),
    on="구", 
    how="left"
).select(
    "original.구", 
    "original.동", 
    F.coalesce("original.1층", "aggregated.aggregated_1층").alias("1층"),
    F.coalesce("original.1층 외", "aggregated.aggregated_1층 외").alias("1층 외"),
    F.coalesce("original.전체", "aggregated.aggregated_전체").alias("전체")
)

dong_fee_df_filled.show()

+------+---------------+-------+-------+-------+
|    구|             동|    1층| 1층 외|   전체|
+------+---------------+-------+-------+-------+
|종로구|         종로구|230,674|160,559|195,617|
|종로구|     청운효자동|188,588|115,520|152,054|
|종로구|         사직동|235,516|132,729|184,123|
|종로구|         삼청동|153,171|160,559|153,171|
|종로구|         부암동|115,405| 80,929| 98,167|
|종로구|         평창동| 83,479|119,522|101,501|
|종로구|         무악동|230,674|160,559|195,617|
|종로구|         교남동|215,432|152,824|184,128|
|종로구|         가회동|233,527|110,071|171,799|
|종로구|종로1·2·3·4가동|269,591|130,688|200,140|
|종로구|    종로5·6가동|273,313|281,611|277,462|
|종로구|         이화동|178,429|105,291|141,860|
|종로구|         혜화동|159,892| 91,260|125,576|
|종로구|        창신1동|262,631|127,691|195,161|
|종로구|        창신2동|105,489| 76,719| 91,104|
|종로구|        창신3동|214,241|160,559|214,241|
|종로구|        숭인1동|183,505| 58,548|121,027|
|종로구|        숭인2동|205,581|111,597|158,589|
|  중구|           중구|282,431|256,317|269,374|
|  중구|         소공동|259,429|197,948|228,689|
+------+---------------+-------+-------+-------+
only showing top 20 rows

In [62]:
sang_df

DataFrame[상권_코드: int, 상권이름: string, X좌표: double, Y좌표: double, 구코드: int, 구 이름: string, 동코드: int, 동이름: string, geometry: string, x: float, y: float]

In [65]:
from pyspark.sql import functions as F

# 동으로 끝나는 경우에는 동 이름과 동코드 매핑
dong_fee_df_with_codes = dong_fee_df_filled \
    .withColumn("is_dong", F.when(F.col("동").endswith("동"), True).otherwise(False)) \
    .join(
        sang_df.select(F.col("동이름").alias("동이름_sang"), F.col("동코드").alias("동코드_sang"), F.col("구코드").alias("구코드_sang")), 
        (F.col("동") == F.col("동이름_sang")) & F.col("is_dong"), "left"
    ) \
    .withColumn("동코드", F.when(F.col("is_dong"), F.col("동코드_sang"))) \
    .withColumn("구코드", F.when(F.col("is_dong"), F.col("구코드_sang")))

# 구로 끝나는 경우에는 구 이름과 구코드 매핑
dong_fee_df_with_codes = dong_fee_df_with_codes \
    .join(
        sang_df.select(F.col("구 이름").alias("구이름_sang"), F.col("구코드").alias("구코드_sang_2")), 
        (F.col("동") == F.col("구이름_sang")) & (F.col("동").endswith("구")), "left"
    ) \
    .withColumn("구코드", F.when(F.col("동").endswith("구"), F.col("구코드_sang_2")).otherwise(F.col("구코드")))

# 필요없는 칼럼 정리
dong_fee_df_with_codes = dong_fee_df_with_codes.drop("is_dong", "동이름_sang", "구이름_sang", "구코드_sang", "구코드_sang_2", "동코드_sang")

# (구, 동) 기준으로 중복 행 제거
dong_fee_df_unique = dong_fee_df_with_codes.dropDuplicates(["구", "동"])

# 결과 출력
dong_fee_df_unique.show()

+------+-------+-------+-------+-------+--------+------+
|    구|     동|    1층| 1층 외|   전체|  동코드|구코드|
+------+-------+-------+-------+-------+--------+------+
|강남구| 강남구|199,480|162,554|181,017|    NULL| 11680|
|강남구|논현1동|205,202|161,758|183,480|11680521| 11680|
|강남구|논현2동|172,159|160,802|166,481|11680531| 11680|
|강남구| 신사동|180,804|133,231|157,018|11680510| 11680|
|강동구| 강동구|140,386| 97,985|119,185|    NULL| 11740|
|강동구| 강일동|201,817| 87,068|144,443|11740515| 11740|
|강동구|고덕1동|133,568|108,680|121,124|11740550| 11740|
|강동구|고덕2동|186,486|149,372|167,929|11740560| 11740|
|강동구|   길동|140,377| 80,584|110,481|11740685| 11740|
|강동구|둔촌1동|140,386| 97,985|119,185|    NULL|  NULL|
|강동구|둔촌2동|122,431| 70,754| 96,593|11740700| 11740|
|강동구|명일1동|150,706|100,557|125,631|11740530| 11740|
|강동구|명일2동|167,823| 96,449|132,136|11740540| 11740|
|강동구| 상일동|139,345|189,428|164,386|11740520| 11740|
|강동구|성내1동|120,784| 81,606|101,195|11740640| 11740|
|강동구|성내2동|138,906|110,612|124,759|11740650| 11740|
|강동구|성내3동|131,230|106,118|118,674|11740660| 11740|
|강동구|암사1동|133,310| 60,956| 97,133|11740570| 11740|
|강동구|암사2동|216,442| 95,326|155,884|11740580| 11740|
|강동구|암사3동|180,288|156,305|168,296|    NULL|  NULL|
+------+-------+-------+-------+-------+--------+------+
only showing top 20 rows

In [71]:
from pyspark.sql import functions as F

# dong_df의 컬럼을 사용하여 dong_fee_df_unique에 있는 동코드와 구코드 업데이트
dong_fee_df_updated = dong_fee_df_unique \
    .join(dong_df.select(F.col("동코드").alias("new_동코드"), 
                         F.col("gu_code").alias("new_구코드"), 
                         F.col("동이름")), 
          dong_fee_df_unique["동"] == dong_df["동이름"], "left") \
    .withColumn("동코드", F.coalesce(F.col("new_동코드"), F.col("동코드"))) \
    .withColumn("구코드", F.coalesce(F.col("new_구코드"), F.col("구코드"))) \
    .drop("new_동코드", "new_구코드", "동이름")

# '1층'과 '1층 외' 컬럼을 숫자형으로 변환 (콤마 제거 후)
dong_fee_df_updated = dong_fee_df_updated \
    .withColumn("1층", F.regexp_replace("1층", ",", "")) \
    .withColumn("1층 외", F.regexp_replace("1층 외", ",", ""))

# 결과 출력
dong_fee_df_updated.show()

+------+-------+------+------+-------+--------+------+
|    구|     동|   1층|1층 외|   전체|  동코드|구코드|
+------+-------+------+------+-------+--------+------+
|강남구| 강남구|199480|162554|181,017|    NULL| 11680|
|강남구|논현1동|205202|161758|183,480|11680521| 11680|
|강남구|논현2동|172159|160802|166,481|11680531| 11680|
|강남구| 신사동|180804|133231|157,018|11620685| 11620|
|강남구| 신사동|180804|133231|157,018|11680510| 11680|
|강동구| 강동구|140386| 97985|119,185|    NULL| 11740|
|강동구| 강일동|201817| 87068|144,443|11740515| 11740|
|강동구|고덕1동|133568|108680|121,124|11740550| 11740|
|강동구|고덕2동|186486|149372|167,929|11740560| 11740|
|강동구|   길동|140377| 80584|110,481|11740685| 11740|
|강동구|둔촌1동|140386| 97985|119,185|11740690| 11740|
|강동구|둔촌2동|122431| 70754| 96,593|11740700| 11740|
|강동구|명일1동|150706|100557|125,631|11740530| 11740|
|강동구|명일2동|167823| 96449|132,136|11740540| 11740|
|강동구| 상일동|139345|189428|164,386|11740520| 11740|
|강동구|성내1동|120784| 81606|101,195|11740640| 11740|
|강동구|성내2동|138906|110612|124,759|11740650| 11740|
|강동구|성내3동|131230|106118|118,674|11740660| 11740|
|강동구|암사1동|133310| 60956| 97,133|11740570| 11740|
|강동구|암사2동|216442| 95326|155,884|11740580| 11740|
+------+-------+------+------+-------+--------+------+
only showing top 20 rows

In [70]:
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="enqnrhkwk108",
    database="S11P21D108",
    charset="utf8mb4",  # 문자셋 설정
    collation="utf8mb4_general_ci",  # collation 설정
    autocommit=False,  # Auto-commit을 끄고 트랜잭션 처리
    connection_timeout=28800,  # 타임아웃 증가
)
cursor = connection.cursor()
def insert_into_mariadb_rent(row):
        sql = """
        INSERT INTO rent (gu_code, dong_code, first_floor, other_floor)
        VALUES (%s, %s, %s, %s)
        """
        # 시도 중인 행 삽입
        cursor.execute(sql, (
            row['구코드'], row['동코드'], 
            row['1층'], row['1층 외']
        ))

# DataFrame의 각 행을 MariaDB에 삽입
for row in dong_fee_df_updated.collect():
    insert_into_mariadb_rent(row)

# 변경사항 커밋 및 연결 종료
connection.commit()
cursor.close()
connection.close()

DatabaseError: 1265 (01000): Data truncated for column 'first_floor' at row 1